:root {
    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --background-color: #F5F4FA;
    --color-blue: #2196F3;
    --secondary-text-color: #757575;
    --background-other-color: #2F303A;
    --footer-contact-color: #FFFFFF99;
}

/* -------------------Подключение стилей----------------------------- */

body {
    font-size: 14px;
    font-family: "Roboto"; sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-style: normal;
}

    
/* --------------------------body------------------------------------
-------------------------header----------------------------------- */

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-logo {
    font-family: Raleway; sans-serif;     
    color: var(--color-blue);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.text-studio {
    color: var(--primary-text-color);
}

.header-link {
    color: var(--primary-text-color);
}
.header-link:hover {
    color: var(--color-blue);
}
.header-link:focus {
    color: var(--color-blue);
}
.studio {
    color: var(--color-blue);
}

.header-contacts {
    color: var(--secondary-text-color);
}
.header-contacts:focus {
    color: var(--color-blue);
}
.header-contacts:hover {
    color: var(--color-blue);
}

/* -----------------maine------------ */

.hero-order-service {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero {
    background-color:var(--background-other-color);
}

.list-btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.btn {
    color: var(--primary-white-color);
    background-color: var(--color-blue);
    cursor:pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
}
.button {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn-portfolio {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    cursor: pointer;
}
.btn-portfolio:hover {
    background-color: var(--color-blue);
    color: var(--primary-white-color);
}
.btn-portfolio:focus {
   background-color: var(--color-blue);
   color: var(--primary-white-color);
}

.text-all {
    color: var(--primary-white-color);
    background-color: var(--color-blue);
    cursor: pointer;
    font-size: 16px;
}

/* ----------------services------------------- */

.project {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.comment {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.header-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


.service-titles {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}

.service-description {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.team {
    background-color: var(--background-color);
}

.occupation {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.header-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.developers-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.technology {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--secondary-text-color);
}
/* --------------------------footer------------------------------- */

.footer {
    background-color:var(--background-other-color);
}

.footer-logo {
    font-family: Raleway;
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.text-Web {
    color: var(--color-blue);
}

.footer-address {
    color: var(--primary-white-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-contact {
    color: var(--footer-contact-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
}
.footer-contact:focus,
.footer-contact:hover {
    color: var(--primary-white-color);
}

/* -----------------portfolio page ------------------ */


.portfolio {
    color: var(--color-blue);
}